#### Importando todas as bibliotecas necessárias

In [1]:
import pandas as pd 
import psycopg2 as pg 
from sqlalchemy import create_engine

#### Definindo a normalização dos dados

In [ ]:
def normalize_text(text):
    text = text.lower()
    text = text.replace('á', 'a').replace('à', 'a').replace('â', 'a').replace('ã', 'a')
    text = text.replace('é', 'e').replace('è', 'e').replace('ê', 'e')
    text = text.replace('í', 'i').replace('ì', 'i').replace('î', 'i')
    text = text.replace('ó', 'o').replace('ò', 'o').replace('ô', 'o').replace('õ', 'o')
    text = text.replace('ú', 'u').replace('ù', 'u').replace('û', 'u')
    text = text.replace('ç', 'c')
    text = text.replace('ñ', 'n')
    text = text.replace(' ', '_')
    return text

#### Exemplo de como fica a aplição do script

In [ ]:
nome_do_df['nome_do_campo'] = df['nome_do_campo'].apply(normalize_text)

#### Lendo o arquivo e jogando os dados para dentro do dataframe arquivo_df

In [2]:
arquivo_df = pd.read_csv(r"C:\Users\Iago_\Downloads\demo4\tratamento_dados_aula\producao_alimentos.csv",encoding="utf-8", sep=",")

#### Verificando como o arquivo está ficando

In [3]:
arquivo_df.head()

  produto  quantidade_produzida_kgs  valor_venda_medio  receita_total
0   arroz                        10                 12          25.00
1  feijão                         5                 17          35.00
2   milho                        18                 21          16.50
3  batata                        13                 14          12.80
4  tomate                        12                 15          10.78

#### Caso necessário renomear o titulo de cada coluna, segue o exemplo:

In [ ]:
nome_do_df = nome_do_df.rename(columns={'produto':"Produto",'proximo_campo':"nome_que_deseja"})

#### Tratando campos nulos ou vazios do dataframe

In [ ]:
#Quando o campo é do tipo numerico, substituir o campo nullo por 0
df['sku_quantidade'] = df['sku_quantidade'].fillna(0)
#Quando o campo é do tipo text, substituir por NULL
df['tracking_number'] = df['tracking_number'].fillna('NULL')

#### Removendo as colunas ou linhas que não possuem dados

In [ ]:
#Excluir linha utilizando o indice de referência
df = df.drop(index=[1])
#Excluindo linhas com qualquer valor ausente. 
df = df.dropna()
#Excluindo colunas 
df = df.drop(columns=['coluna1', 'coluna2'])
#Excluindo colunas por index
df = df.drop(index=[0, 2])
#Excluindo colunas sem dados 
df = df.dropna()

#### Convertendo todas as colunas no tipo string

In [ ]:
for col in df.columns:
    df[col] = df[col].apply(str)

#### Convertendo o tipo do dado de cada campo

In [ ]:
#Para o tipo string
df['nome_do_campo'] = df['nome_do_campo'].astype(str)
#Para o tipo float
df['nome_do_campo'] = df['nome_do_campo'].astype(float)
#Para o tipo inteiro
df['nome_do_campo'] = df['nome_do_campo'].astype(int)
#Para o tipo data sem hora 
df['data'] = pd.to_datetime(df['data']).dt.date
#Para do tipo data com hora
df['data_hora'] = pd.to_datetime(df['data_hora'])
#Tratando o formato da data aprensetado
df['data'] = pd.to_datetime(df['data'], format='%Y/%m/%d').dt.date
#Tratando o formato apresentado do campo data com hora
df['data_hora'] = pd.to_datetime(df['data_hora'], format='%d/%m/%Y %H:%M:%S')

#### Caso exista problema ao converter os campos float, com pontos para virgula. Utilize o comando replace

In [ ]:
nome_do_df['nome_do_campo'] = nome_do_df['nome_do_campo'].str.replace('.', '').str.replace('',',').astype(float)

### Criando Conexão com o banco de dadso PostgreSQL

#### Formas para realizar a conexão com o banco de dados

In [10]:
engine = create_engine('postgresql://postgres:Senha!1234@localhost:5432/estudo')

In [17]:
connection = pg.connect(user = "postgres", password = "Senha!1234", host = "localhost", port = "5432", database = "estudo")
curs = connection.cursor()

In [21]:
def conecta_db():
    con = pg.connect(host='localhost',
        database='estudo',
        user='postgres',
        password='Senha!1234')
    return con

#### Criando tabelas no Postgres

In [ ]:
sql_create = "CREATE TABLE clientes (cod_cliente INT PRIMARY KEY, nome_cliente VARCHAR(20) NOT NULL, sobrenome_cliente VARCHAR(40) NOT NULL);"

curs.execute()
connection.commit()

In [ ]:
sql_create = "CREATE TABELA produtos (cod_produto INT PRIMARY KEY, nome_produto VARCHAR(30) NOT NULL, descricao TEXT NULL, preco NUMERIC CHECK(preco > 0) NOT NULL, qtde_estoque SMALLINT DEFAULT 0);"

curs.execute()
connection.commit()

In [23]:
def criar_db(sql_create):
    con = conecta_db()
    cur = con.cursor()
    cur.execute(sql_create)
    con.commit()
    con.close()

In [24]:
sql_drop = 'DROP TABLE IF EXISTS produto_teste'
criar_db(sql_drop)

In [26]:
sql_create = "CREATE TABLE produto_teste (cod_produto SERIAL PRIMARY KEY, produto VARCHAR(30) NOT NULL, quantidade_produzida INT NOT NULL, valor_medio NUMERIC NOT NULL, receita NUMERIC NOT NULL)"
criar_db(sql_create)

#### Realizando uma consulta no postgres

In [ ]:
sql = "SELECT cod_cliente, nome_cliente, sobrenome_cliente FROM clientes"

df = pd.read_sql_query(sql, con=engine)

df

#### Inserindo dados na tabela de forma manual

In [41]:
sql_insert = "INSERT INTO clientes(cod_cliente, nome_cliente, sobrenome_cliente) VALUES (3, 'iago', 'lopes')"

curs.execute(sql_insert)
connection.commit()

In [27]:
def inserir_db(sql_insert):
    con = conecta_db()
    cur = con.cursor()
    try:
        cur.execute(sql_insert)
        con.commit()
    except(Exception, pg.DatabaseError) as error:
        print("Error: %s" % error)
        con.rollback()
        cur.close()
        return 1
    cur.close()

In [32]:
for i in arquivo_df.index:
    sql_insert = """INSERT INTO produto_teste(produto, quantidade_produzida, valor_medio, receita) VALUES ('%s','%s','%s','%s');"""%(arquivo_df['produto'][i],arquivo_df['quantidade_produzida_kgs'][i],arquivo_df['valor_venda_medio'][i],arquivo_df['receita_total'][i])
    inserir_db(sql_insert)

#### Caso não esteja conseguindo inserir dados, tente o comando abaixo

In [ ]:
connection.rollback()

#### Atualizando tabelas que já existem

In [48]:
sql_update = "UPDATE clientes SET nome_cliente = 'pedro' WHERE cod_cliente = 1" 

curs.execute(sql_update)
connection.commit()

#### Excluindo dados de uma tabela

In [13]:
sql_delete = "DELETE FROM clientes WHERE cod_cliente = 1"

curs.execute(sql_delete)
connection.commit()